.DS_Store
.DS_Store?
._*
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.html
*.tmp
.idea/
*.iml
pkg/
metadata.json
top.sls
.vagrant/
.vagrant-salt/*
ebs1.vdi
!.vagrant-salt/minion
!.vagrant-salt/pillars
!.vagrant-salt/grains
!.vagrant-salt/top.sls
!.vagrant-salt/saltdeps.yml
